// manager
.edit-area {
  display: flex;
  .edit-section {
    width: 50%;
    padding: 1em;
  }
  .preview-section {
    width: 50%;
  }
}

// list
.blog-list, .about-me {
  margin: 10vh 25vw;
  min-height: calc(80vh - 8em);
  position: relative;
}
.blog-list-item {
  cursor: pointer;
  line-height: 60px;
  font-size: 36px;
  font-weight: 600;
  margin: 2rem 0;
  &:hover {
    color: $白鼠;
  }
}
