.main-content {
    pre {
        code {
            line-height: 1.5;
        }
    
    }
    img {
        max-width: 100%;
    }
    ul {
        list-style-type: square;
        li {
            line-height: 2em;
        }
    }
}

