@import "./const.scss";

.main-content {
    code {
        font-family: $font-family-code;
    }
    pre code {
        line-height: 1.5em;
    }
    h2 {
        text-decoration: underline;
    }
    img {
        max-width: 100%;
    }
    ul {
        list-style-type: square;
    }
    li {
        line-height: 2em;
    }
}

