// common
.page-content {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40vh;
    word-break: break-word;
}

.pagination {
    margin-top: 10vh;
    color: $白鼠;
    font-size: 14px;
    bottom: 0;
}

.banner {
    background-color: $吕;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    & > div {
        flex: 1 1 0;
    }
    // https://bugs.chromium.org/p/chromium/issues/detail?id=625560
    .banner-image {
        width: 50%;
        position: absolute;
        right: 0;
    }
    .image_placeholder {
        width: 50%;
        margin-bottom: 70.572916666%;
    }
    div.left {
        text-align: center;
    }
    div.right {
        width: 100%;
        background-color: #434343;
    }
    .time {
        font-size: 18px;
        color: $白鼠;
    }
    .title {
        font-weight: 600;
        font-size: 44px;
        font-family: $font-family-serif;
    }
}

.main-content {
    margin-top: 5rem;
    max-width: 70%;
    a {
        text-decoration: underline;
        color: $千草;
    }
    a:visited {
        color: $千草;
    }

    p {
        line-height: 2em;
        margin: auto;
    }

    pre {
        font-size: 14px;
    }

    blockquote {
        padding-left: 1em;
        border-left: solid 2px $千草;
    }
}
