@import "./const.scss";
@import "../node_modules/normalize.css/normalize.css";

html,
body {
  ::-webkit-scrollbar {
    background-color: $墨;
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $白鼠;
  }
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family-common;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

@import "./common.scss";
@import "./layout.scss";
@import "./blog.scss";
@import "./code.scss";
@import "./manage.scss";
@import "./about.scss";
@import "./media.scss";
@import "./comment.scss"
