#__next {
    color: $白练;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $墨;
}

.header {
    font-size: 14px;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    z-index: 1;
    height: 4rem;
    ul {
        display: flex;
        align-items: center;
        margin: 0;
        margin-right: 10%;
        li {
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 4rem;
            cursor: pointer;
        }
        li:hover {
            color: $白鼠;
        }
    }
}

.footer {
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    background-color: $墨;
    color: $白鼠;
    font-size: 12px;
}