@media (max-width: 800px) {
    .banner {
        flex-direction: column;
        img {
            width: 100vw;
        }
    }
    .main-content {
        max-width: 90%;
    }
    .blog-list, .about-me {
        margin: 5vh 5vw;
    }
    .blog-list {
        .blog-list-item {
            font-size: 3vh;
            line-height: 1.5;
        }
    }
}