#__next {
    .MuiLinearProgress-root {
        height: 2px;
    }
    .MuiLinearProgress-colorPrimary {
        background-color: $墨;
    }
    .MuiLinearProgress-barColorPrimary {
        background-color: $白鼠;
    }
}